Source: huayra-server
Section: admin
Priority: extra
Maintainer: Fernando Toledo <ragnarok@docksud.com.ar>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://huayra.conectarigualdad.gob.ar

Package: huayra-server-mini
Architecture: all
Depends: ${misc:Depends},
Description: Version minima de servidor Huayra para Conectar Igualdad
 Este meta-paquete instala las aplicaciones necesarias para tener
 un entorno mínimo de Servidor para el programa Conectar Igualdad.
 Dummy Package.

Package: huayra-server-tec
Architecture: all
Depends: ${misc:Depends},
Description: Version de servidor Huayra-TEC para escuelas tecnicas
 Este meta-paquete instala las aplicaciones necesarias para tener
 un entorno de la versión servidor Huayra-TEC del programa Conectar Igualdad.
 Dummy Package.

Package: huayra-server-base
Architecture: all
Depends: ${misc:Depends},
Description: Version de servidor Huayra. Paquete base
 Este meta-paquete instala las aplicaciones necesarias para tener
 un entorno de la versión servidor Huayra del programa Conectar Igualdad.
 Dummy Package.

Package: huayra-server-common
Architecture: all
Depends: ${misc:Depends},
Description: Version de servidor Huayra. Paquete de archivos comunes
 Este meta-paquete instala las aplicaciones comunes para tener
 un entorno de la versión servidor Huayra del programa Conectar Igualdad.
 Dummy Package.

